@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --text: #ffffff70;
    --background: #171717;
    --primary: #181818;
    --secondary: #1c1c1e;
    --accent: #6366f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* Ensures the container is at least the height of the viewport */
    width: 90vw;
    /* Sets the width based on the viewport width */
    justify-content: space-between;
    /* Distributes space between the children */
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    /* Assign a fixed portion of the viewport height to the input */
    margin-bottom: 2rem;
    /* This will be subtracted from the 100vh in the output-box calculation */
}

.output-box {
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 5px;
    overflow-y: auto;
    width: 100%;
    /* Takes the full width of its parent container */
    height: calc(100vh - 10vh - 2rem - 1rem - 1rem);
    /* Adjusts height to fill the space, accounting for the input height and the margins */
    /* Adjust the 1rem subtraction to account for header and any other padding or margins */
}

/* Styles for header, other elements, and scrollbar remain the same */



h1 {
    color: var(--text);
    font-size: 2rem;
    margin: 1rem 0;
    /* Combine margin-top and margin-bottom */
}

input[type="text"],
button {
    font-size: 12px;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

input[type="text"] {
    background-color: var(--secondary);
    color: var(--text);
    width: calc(100% - 80px);
    /* Adjust input width to account for button */
    margin-right: 10px;
    /* Add margin between input and button */
}

input[type="text"]:focus {
    outline: none;
}

button {
    background-color: var(--accent);
    color: #DED9D9;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-weight: 500;
    font-family: 'roboto mono variable', sans-serif;
}

button:hover {
    background-color: #4144D3;
}


/* Scrollbar styles */
.output-box::-webkit-scrollbar {
    width: 7px;
}

.output-box::-webkit-scrollbar-track,
.output-box::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 6px;
}

.output-box::-webkit-scrollbar-thumb {
    background-color: var(--accent);
}

.output-box::-webkit-scrollbar-thumb:hover {
    background-color: #4144D3;
}