/* TODO make it better */


:root {
    --text: #ded9d9;
    --background: #171717;
    --primary: #181818;
    --secondary: #1c1c1e;
    --accent: #6366f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.input {
    display: flex;
    margin-bottom: 2rem;
    width: 700px;
    align-items: center;
    justify-content: space-between;
}

h1 {
    display: inline-block;
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

input[type="text"] {
    background-color: var(--secondary);
    color: var(--text);
    border: none;
    padding: 1rem;
    border-radius: 5px;
    width: 620px;
    font-size: 15px;
}


button {
    background-color: var(--accent);
    color: #DED9D9;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    padding-left: 20px;
    padding-right: 22px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-weight: 600;
    font-size: 15px;
}

button:hover {
    background-color: #4144D3;
}

.output-box {
    background-color: var(--secondary);
    color: var(--text);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 700px;
    flex: 1;
    min-height: 800px;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: initial;
}


.output-box::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.output-box::-webkit-scrollbar-track {
    background: var(--primary);
}

.output-box::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 6px;
}

.output-box::-webkit-scrollbar-track {
    background-color: var(--primary);
    border-radius: 6px;
}

.output-box::-webkit-scrollbar-thumb:hover {
    background-color: #5cc402;
}