:root {
    --text: #c3c3c3;
    --background: #151414;
    --primary: #c2ccc2;
    --secondary: #292929;
    --accent: #5bbd04;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
    min-height: 100vh;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.input {
    display: flex;
    margin-bottom: 2rem;
    width: 700px;
    align-items: center;
    justify-content: space-between;
}

h1 {
    display: inline-block;
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

input[type="text"] {
    background-color: var(--secondary);
    color: var(--text);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    width: 620px;
}


button {
    background-color: var(--accent);
    color: var(--background);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    padding-left: 20px;
    padding-right: 22px;
    cursor: pointer;
}

button:hover {
    background-color: #5cc402;
}

.output-box {
    background-color: var(--secondary);
    color: var(--text);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 700px;
    flex: 1;
    min-height: 800px;
    max-height: 800px;
    overflow-y: scroll;
}


.output-box::-webkit-scrollbar {
    width: 10px;
}

.output-box::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 6px;
}

.output-box::-webkit-scrollbar-track {
    background-color: var(--primary);
    border-radius: 6px;
}