* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Cutive Mono:700|Cutive Mono:400');

body {
    font-family: 'Cutive Mono';
    font-weight: 400;
    background-color: #191b18;;
}

h1 {
    color: white;
    font-size: 5rem;
}