* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.5rem;
    padding: 1rem;
}

.block {
    display: block;
    width: 30vw;
    height: 30vw;
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

.left {
    float: left;
    margin-right: 1rem;
}

.right {
    float: right;
    margin-right: 1rem;
}

.clear{
    clear: both;
}

section {
    background-color: bisque;
    padding: 1rem;
    border: 1px solid #000;
    padding: 1rem;
    /*overflow: auto; */
    display: flow-root;
}